/*///////////////////////// GENERALES /////////////////////////*/

body {
  font-family: "Mitr", sans-serif;
}

p {
  font-weight: 300;
  color: #706e74;
  margin-bottom: 0;
}

img {
  width: 100%;
}

a:hover {
  text-decoration: none;
}

/* botones */

.primary-buttons,
.secondary-buttons,
.outlined-violet-buttons,
.outlined-white-buttons,
.violet-buttons,
.green-buttons {
  border-radius: 12px;
  transition: 0.3s;
  font-size: 16px;
  font-weight: 500;
}

.primary-buttons {
  background-color: #18988b;
  color: white;
  border: 2px solid #18988b;
  display: flex;
}

.primary-buttons:hover {
  border: 2px solid #18988b;
  color: #18988b;
  background: transparent;
}

.secondary-buttons {
  border: 2px solid #18988b;
  color: #18988b;
  background: transparent;
  display: flex;
  align-items: center;
}

.secondary-buttons:hover {
  border: 2px solid #18988b;
  color: white;
  background: #18988b;
}

.violet-buttons {
  border: 2px solid #573c81;
  color: white;
  background: #573c81;
}

.violet-buttons:hover {
  border: 2px solid #18988b;
  background: #18988b;
  color: white;
}

.green-buttons {
  border: 2px solid #18988b;
  color: white;
  background: #18988b;
}

.green-buttons:hover {
  border: 2px solid #573c81;
  background: #573c81;
  color: white;
}

.outlined-violet-buttons {
  border: 2px solid #573c81;
  color: #573c81;
  background: transparent;
  display: flex;
}

.outlined-violet-buttons:hover {
  border: 2px solid #573c81;
  color: white;
  background: #573c81;
}

.outlined-white-buttons {
  border: 2px solid #ffffff;
  color: #ffffff;
  background: transparent;
}

.outlined-white-buttons:hover {
  border: 2px solid #ffffff;
  color: #573c81;
  background: #ffffff;
}

.btn.focus,
.btn:focus {
  outline: 0;
  box-shadow: none !important;
  opacity: 0.8;
}

/* titulos y spans */

.violet-titles {
  color: #573c81;
  line-height: 1;
}

.green-titles {
  color: #18988b;
}

.green-span {
  color: #18988b;
  font-weight: 500;
}

.big-span {
  font-size: 21px;
}

/* otros */

.border-bottom {
  width: 100%;
  border-bottom: 4px solid #f0eef3 !important;
  padding-bottom: 10px;
}
.small-border {
  width: 150px;
}

/*///////////////////////// HEADER /////////////////////////*/

/* contacto */

.border-right {
  border-right: 1px solid rgba(173, 173, 173, 0.692) !important;
}

.contact-info {
  background: #573c81;
  display: flex;
  align-items: center;
}

.contact-info a {
  color: white;
  font-size: 14px;
  transition: 0.3s;
  padding: 10px 15px;
}

.contact-info a:hover {
  opacity: 0.8;
}

.png-icons {
  width: 15px;
}

/* menú */

ul.navbar-nav li a {
  position: relative;
  margin: 0px 5px;
  transition: 0.3s;
}

ul.navbar-nav li a:hover {
  transform: translateY(-7px);
}

.navbar {
  padding: 0.5rem 0rem;
}

.nav-link {
  color: #573c81 !important;
  font-weight: 500;
  font-size: 15px;
}

.navbar-nav .nav-link {
  padding-right: 0.3rem !important;
  padding-left: 0.3rem !important;
}

.navbar-light .navbar-nav .active > .nav-link {
  color: #18988b !important;
}

.navbar-light .navbar-nav .active > .nav-link:hover {
  transform: none;
}

/* animación de burguer menu */

.custom-hamburger .line {
  width: 30px;
  height: 3px;
  background-color: #18988b;
  display: block;
  margin: 6px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.custom-hamburger:hover {
  cursor: pointer;
}

#custom-hamburger.is-active .line:nth-child(2) {
  opacity: 0;
}

#custom-hamburger.is-active .line:nth-child(1) {
  -webkit-transform: translateY(9px) rotate(45deg);
  -ms-transform: translateY(9px) rotate(45deg);
  -o-transform: translateY(9px) rotate(45deg);
  transform: translateY(9px) rotate(45deg);
  background-color: #4f3677;
}

#custom-hamburger.is-active .line:nth-child(3) {
  -webkit-transform: translateY(-9px) rotate(-45deg);
  -ms-transform: translateY(-9px) rotate(-45deg);
  -o-transform: translateY(-9px) rotate(-45deg);
  transform: translateY(-9px) rotate(-45deg);
  background-color: #4f3677;
}

/*///////////////////////// HOME /////////////////////////*/

/* carousel principal */

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 3px solid white;
  margin-right: 3px;
  margin-left: 3px;
  background-color: transparent;
  transition: opacity 0.6s ease;
  opacity: 1;
}

.carousel-indicators .active {
  background: white;
}

.carousel-item,
.carousel-item.active {
  min-height: 600px;
}

.carousel-item .container,
.carousel-item.active .container {
  min-height: 600px;
  display: flex;
  align-items: center;
}

.main-carousel-img {
  position: absolute;
  bottom: 0;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.carousel-buttons {
  margin-top: 40px;
}

/* arrows personalizadas y bg con gradiente */

.carousel-control-prev {
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.5553571770505077) 0%,
    rgba(255, 255, 255, 0) 96%
  );
}

.carousel-control-next {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.5553571770505077) 96%
  );
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  height: 41px;
  width: 20px;
  opacity: 1;
}

.carousel-control-prev-icon {
  background-image: url(../images/flecha-izquierda.png);
}

.carousel-control-next-icon {
  background-image: url(../images/flecha-derecha.png);
}

/* CARDS */

.cobertura {
  padding: 80px 0px;
  background-image: url(../images/bg-cobertura-bottom.png),
    url(../images/bg-cobertura-top.png);
  background-position: right bottom, top left;
  background-size: auto, auto;
  background-repeat: no-repeat, no-repeat;
}

.cards-container {
  margin: 60px 0px 90px 0px;
}

.cards {
  width: 100%;
  border-radius: 35px;
  overflow: hidden;
  box-shadow: 1px 10px 22px 2px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 1px 10px 22px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 1px 10px 22px 2px rgba(0, 0, 0, 0.15);
  position: relative;
  min-height: 320px;
  background: white;
}

.cards:hover {
  box-shadow: 1px 15px 22px 2px rgba(0, 0, 0, 0.27);
  -webkit-box-shadow: 1px 15px 22px 2px rgba(0, 0, 0, 0.27);
  -moz-box-shadow: 1px 15px 22px 2px rgba(0, 0, 0, 0.27);
}

.cards-footer {
  background: white;
  text-align: center;
  padding: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.cards-titles {
  color: #573c81;
  margin-bottom: 10px;
}

/* CAROUSEL LOGOS */

.owl-carousel {
  margin-top: 25px;
}

.logo-item {
  background: white;
  box-shadow: 1px 2px 12px 1px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 1px 2px 12px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 1px 2px 12px 1px rgba(0, 0, 0, 0.15);
  margin: 15px;
  border-radius: 10px;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
  width: 35px;
  height: 35px;
  background: #f6f5f9 !important;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -85px;
}

.owl-carousel .owl-nav button.owl-next span,
.owl-carousel .owl-nav button.owl-prev span {
  line-height: inherit;
}

.owl-nav span,
.owl-next span {
  color: #624889;
}

.owl-carousel .owl-nav button.owl-next {
  position: absolute;
  right: 0;
  margin-right: -35px;
}

.owl-carousel .owl-nav button.owl-prev {
  position: absolute;
  left: 0;
  margin-left: -35px;
}

/* NOVEDADES */

.novedades {
  background-color: #f2f9f8;
  padding: 60px 0px;
}

.new-container {
  position: relative;
  margin-top: 20px;
}

.new-title {
  font-weight: 500;
  color: #573c81;
  margin-top: 8px;
  position: relative;
}

/* para mostrar los botones en el hover */

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(2, 129, 30, 0);
  transition: background 0.5s ease;
}

.img-new-container:hover .overlay {
  display: block;
  background: rgba(38, 152, 138, 0.8);
  width: 100%;
  height: 100%;
}

.img-new-container button {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: fit-content;
  opacity: 0;
  transition: opacity 0.35s ease;
  display: flex;
  align-items: center;
  outline: none;
  box-shadow: none;
  transition: 0.5s;
}

.img-new-container:hover button {
  opacity: 1;
}

/* para poner los titulos en verde cuando hover */

.green-hover p {
  transition: 0.5s ease;
}

.green-hover:hover p {
  color: #18988b !important;
}

/* WSP CONTACTO */

.wsp-contact {
  position: relative;
  min-height: 370px;
  display: flex;
  align-items: center;
}

.wsp-contact h4 {
  color: white;
  font-size: 36px;
  line-height: 1;
}

.wsp-contact p {
  color: white;
  font-size: 21px;
}

.wsp-contact-bg {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  z-index: -1;
  object-fit: cover;
}

.whatsapp-button {
  background-color: #25d366;
  color: white;
  border-radius: 12px;
  transition: 0.3s;
  font-size: 18px;
  font-weight: 500;
}

.whatsapp-button:hover {
  transform: scale(1.1);
  color: white;
}

/*///////////////////////// SECCIÓN NOVEDADES /////////////////////////*/

/* paginador */

.pagination .page-item {
  margin: 0px 5px;
  font-size: 14px;
}

.page-item.disabled .page-link {
  background: white;
  color: #c4c4c4 !important;
}

.page-item.active .page-link {
  background: #18988b;
  border-color: #18988b;
}

.page-item .page-link {
  border-radius: 0;
  color: #4f3677;
  font-weight: 300;
  padding: 0.4rem 0.75rem;
}

/*///////////////////////// SECCIÓN NOVEDADES - DETALLE /////////////////////////*/

.section-title {
  min-height: 350px;
  background-image: url(../images/bg-header-novedades.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.news {
  padding: 60px 0px;
  background-image: url(../images/bg-news-completo.png);
  background-position: center top;
  background-size: contain;
  background-repeat: repeat-y;
}

.news-links {
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
  padding: 15px 0px;
  display: flex;
  align-items: center;
}

.news-links span {
  border-right: 1px solid #dbdbdb;
  padding-right: 15px;
}

.news-links-icons {
  width: 30px;
  height: 30px;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  margin: 0px 5px;
}

.news-links-icons:hover {
  color: white !important;
  transform: scale(1.1);
}

/* para darle color a los iconos */

.news-links-icons.facebook {
  background: #3b5998;
}

.news-links-icons.twitter {
  background: #00aeef;
}

.news-links-icons.whatsapp {
  background: #25d366;
}

.news-links-icons.mail {
  background: #573c81;
}

.news-links p {
  padding-left: 15px;
}

.news .articles-text p {
  font-weight: 200;
}

.articles-text {
  padding: 15px 0px;
}

.articles-links {
  color: #18988b;
  text-decoration: underline;
}

.articles-links:hover {
  font-weight: 400;
  color: #18988b;
  text-decoration: underline;
}

/* cita con fondo verde */

.cite {
  background: #26988a;
  color: white !important;
  padding: 20px;
  background-image: url(../images/cita-deco.png);
  background-position: right bottom;
  background-size: auto;
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: 60%;
}

.cite p {
  color: white !important;
}

.articles-text ul {
  padding-left: 15px;
  font-weight: 200;
}

/* aside */

.follow-us {
  background: white;
  box-shadow: 1px 2px 12px 1px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 1px 2px 12px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 1px 2px 12px 1px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 30px;
  margin-bottom: 20px;
}

.follow-us p {
  color: #573c81;
  font-weight: 500;
  font-size: 24px;
  line-height: 1;
  text-align: center;
}

.follow-us a {
  transition: 0.3s;
}

.follow-us a:hover {
  transform: scale(1.1);
}

.aside-cards {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  height: 280px;
  background: linear-gradient(4deg, rgba(2, 0, 36, 1) 0%, rgba(0, 0, 0, 0) 65%);
  margin-bottom: 20px;
}

.plans-cards-titles {
  color: white;
  line-height: 1.1;
}

.plans-cards-content {
  position: absolute;
  bottom: 0;
  padding: 15px;
  padding-right: 40px;
}

.aside-cards img {
  position: absolute;
  bottom: 0;
  height: 100%;
  object-fit: cover;
  z-index: -10;
  object-position: left;
}

/*///////////////////////// SECCIÓN QUIENES SOMOS /////////////////////////*/

.section-title.quienes-somos {
  min-height: 350px;
  background-image: url(../images/bg-quienes-somos.jpg);
}

.quienes-somos-content {
  padding: 60px 0px;
  background-image: url(../images/bg-news-completo.png);
  background-position: center top;
  background-size: cover;
  background-repeat: repeat-y;
}

.quienes-somos-img-container {
  background-color: #573c81;
  border-radius: 35px;
  max-height: 375px;
}
.quienes-somos-img {
  margin-top: 25px;
  margin-left: 25px;
}

.valores-list::before {
  content: "•";
  font-weight: 700;
  font-size: 20px;
  color: #18988b;
  margin-right: 8px;
}

/*///////////////////////// PLANES /////////////////////////*/

/* tabla */

.table-striped tbody tr:nth-of-type(even) {
  background-color: #563c8118;
}
.table-striped tbody tr:nth-of-type(odd) {
  background-color: transparent !important;
}
.table-striped i {
  color: #18988b;
}
.table-striped tbody {
  background-color: white;
  box-shadow: rgb(0 0 0 / 15%) 1px 10px 22px 2px;
}
.table td,
.table th {
  border-top: none;
}

.table-striped tr td:nth-last-child(-n + 3) {
  text-align: center;
  vertical-align: middle;
}

.table-striped tr td:nth-last-child(n + 2) {
  border-left: 1px solid white;
  border-right: 1px solid white;
}
.table-striped tr td:nth-last-child(n + 1) {
  border-left: 0px;
}
.table-striped {
  font-weight: 300;
}
.table-striped tbody tr td button span {
  color: #18988b;
  font-weight: 700;
}
.table-striped tbody tr td button span {
  transition: .3s;
}
.table-striped tbody tr td button:hover span {
  color: white;
}

.plan-top-title {
  border-top-left-radius: 28px;
  border-top-right-radius: 28px;
  height: 75px;
  font-weight: 400;
}

.plan-g1 {
  background-color: #26988a;
  color: white !important;
}
.plan-g2 {
  background-color: #e1dce8;
  color: #4f3677 !important;
}
.plan-g3 {
  background-color: #4f3677;
  color: white !important;
}
.plan-title {
  font-size: 30px;
  font-weight: 500;
}

/* badges */

.table-striped tbody span,
.references-span span {
  color: white;
  border-radius: 15px;
  padding: 0px 4px;
  font-weight: 400;
  font-size: 12px;
}

.pmo {
  background-color: #25d478;
}
.cc {
  background-color: #6e32ce;
}
.ca {
  background-color: #00a4f2;
}
.ct {
  background-color: #f69414;
}

.references-span {
  font-weight: 300;
  flex-wrap: wrap;
}

.nav-tabs .nav-link {
  border-top-left-radius: 28px;
  border-top-right-radius: 28px;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  background-color: #26988a !important;
  color: white !important;
  border-bottom: 5px solid white !important;
}

/*///////////////////////// FOOTER /////////////////////////*/

footer {
  background: #573c81;
  padding: 75px 0px;
  color: white;
  position: relative;
}

.footer-logo {
  width: 140px;
}

footer .social-media-links a {
  border: 1px solid white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

footer .social-media-links a:hover {
  transform: scale(1.1);
}

.footer-links ul {
  list-style: none;
  padding-left: 0;
}

.footer-links h6 {
  position: relative;
  padding-bottom: 10px;
}

.footer-links h6:after {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 50px;
  height: 3px;
  background-color: #18988b;
  content: "";
  opacity: 1;
}

footer a {
  font-weight: 200;
  color: white;
  font-size: 16px;
}

footer a:hover {
  color: white;
  opacity: 0.8;
}

/* copyright */

.copyright {
  background: #4f3677;
  min-height: 35px;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
}

.copy-text {
  font-size: 14px;
  font-weight: 200;
}

/*////////////////////// RESPONSIVE //////////////////*/

@media (max-width: 1360px) {
  .responsive-padding {
    padding: 40px;
  }
}

@media (max-width: 1024px) {
  .responsive-padding {
    padding: 80px;
  }
  /* carousel principal */
  .carousel-item,
  .carousel-item.active {
    min-height: 500px;
  }
  .carousel-item .container,
  .carousel-item.active .container {
    min-height: 500px;
  }
  /* cards home */
  .cards {
    min-height: 260px;
  }
  /* titulo de seccion novedades */
  .section-title {
    min-height: 300px;
  }
  .quienes-somos-img-container {
    width: 85%;
    max-height: 275px;
  }
}

@media (max-width: 768px) {
  body {
    padding-top: 7rem;
  }
  .responsive-padding {
    padding: 60px;
  }
  .btn {
    font-size: 14px;
  }
  /* menu fixed */
  header {
    background: #4f3677;
  }
  .menu {
    background: white;
    box-shadow: rgb(0 0 0 / 15%) 1px 10px 22px 2px;
  }
  header {
    position: fixed;
    width: 100%;
    z-index: 10;
    top: 0;
  }
  .navbar {
    background: white;
    z-index: 5;
    width: 100%;
    padding: 0.5rem 0rem;
  }
  .nav-link {
    padding: 0.7rem 1rem;
  }
  .contact-info {
    opacity: 1;
    transition: opacity 0.4s ease-out;
  }
  .contact-info.desaparece {
    opacity: 0;
    height: 0;
    overflow: hidden;
  }
  /* fin menu fixed */
  .carousel-item,
  .carousel-item.active {
    min-height: 350px !important;
  }
  .carousel-item .container,
  .carousel-item.active .container {
    min-height: 350px !important;
  }
  .carousel-item h1,
  .carousel-item.active h1 {
    font-size: 34px;
  }
  /* cards home */
  .cards {
    margin-bottom: 25px;
  }
  .cards-footer {
    padding: 10px;
  }
  .cobertura {
    padding: 50px 0px;
  }
  .cards-container {
    margin: 40px 0px 50px 0px;
  }
  /* arrows carousel logos */
  .owl-carousel .owl-nav button.owl-next,
  .owl-carousel .owl-nav button.owl-prev {
    margin-top: -75px;
  }
  .wsp-contact h4,
  .wsp-contact p {
    text-shadow: 1px 0 3px #3f3f3f70;
  }
  .wsp-contact-bg {
    object-position: right;
  }
  .quienes-somos-content {
    background-size: contain;
  }
  footer a {
    font-size: 14px;
  }
}

@media (max-width: 768px) and (max-width: 1023px) {
  .aside-cards {
    max-height: 210px;
  }
  .plans-cards-titles {
    font-size: 20px;
  }
  .plans-cards-content {
    padding: 10px;
  }
  .plans-cards-content button {
    font-size: 12px;
  }
  .follow-us p {
    font-size: 21px;
  }
  .quienes-somos-img-container {
    width: 85%;
    max-height: 395px;
    margin-left: 35px;
}
}

@media (max-width: 524px) {
  .h1,
  h1 {
    font-size: 24px !important;
  }

  .big-span {
    font-size: 16px;
  }
  .navbar-brand img {
    width: 90%;
  }
  .responsive-padding {
    padding: 0px 35px;
  }
  .carousel-buttons {
    margin-top: 120px;
    margin-bottom: 20px;
  }
  .carousel-control-prev,
  .carousel-control-next {
    display: none;
  }
  .wsp-contact-bg {
    object-position: left;
  }
  .wsp-contact {
    text-align: center;
  }
  .section-title {
    min-height: 200px;
  }
  .news {
    padding: 30px 0px;
  }
  .news-links-icons {
    width: 25px;
    height: 25px;
  }
  .follow-us {
    margin-top: 15px;
  }
  .contact-info a {
    padding: 10px;
  }
  .owl-dot,
  .owl-carousel .owl-nav .owl-next {
    margin-top: 0px;
  }
  .owl-carousel .owl-nav button.owl-next,
  .owl-carousel .owl-nav button.owl-prev {
    display: inline;
    margin-top: 0px;
  }
  .owl-carousel .owl-nav button.owl-next {
    position: relative;
    margin-left: 5px;
    margin-right: 0px;
  }
  .owl-carousel .owl-nav button.owl-prev {
    position: relative;
    margin-right: 5px;
    margin-left: 0px;
  }
  .quienes-somos-content {
    text-align: center;
    padding: 20px 0px;
  }
  .quienes-somos-icons {
    width: 40%;
  }
  .quienes-somos-img-container {
    margin-left: 15px;
    max-height: 230px;
    border-radius: 25px;
  }
  .quienes-somos-img {
    margin-top: 20px;
    margin-left: 20px;
}

  .plan-g1 {
    background-color: #f4f1f6;
    color: #4f3677 !important;
  }
  .table td {
    font-size: 14px;
  }
  .table td, .table th {
    padding: .5rem;
  }
  .table-striped i {
    font-size: 18px;
  }
  .plan-top-title {
    height: 48px;
  }
  .plan-title {
    font-size: 18px;
  }
  .nav-tabs h4 {
    font-size: 16px;
  }
  .table-striped tr td:first-child {
    text-align: left;
  }
.responsive-table-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
  footer {
    text-align: center;
  }
  .footer-links h6:after {
    left: auto;
    margin-left: -50px;
  }
  footer .social-media-links {
    justify-content: center;
  }
  .footer-links {
    margin-top: 30px;
  }
  .copy-text {
    font-size: 10px;
    text-align: center;
  }
}

@media (max-width: 376px) {
  .contact-info a {
    font-size: 12px;
  }
  .wsp-contact h4 {
    text-shadow: none;
  }
  .quienes-somos-img-container {
    max-height: 200px;
  }
}

@media (max-width: 321px) {
  .contact-info a {
    font-size: 10px;
  }
  .responsive-padding {
    padding: 0px 20px;
  }
  .carousel-buttons {
    margin-top: 100px;
    margin-bottom: 20px;
  }
  .quienes-somos-img-container {
    margin-left: 5px;
    max-height: 170px;
  }
}
